.title {
  font-size: 2.5rem;
  color: #333;
  padding-top: 1rem;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.offer-item {
  position: relative;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0;
  border-radius: 8px;
  overflow: hidden;
}

.offer-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* fügt einen halbtransparenten Hintergrund hinzu */
}

.offer-title {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.offer-price {
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.error {
  color: #d32f2f;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}
