<div>
  <div class="title">Willkommen bei unserem Reiseplaner</div>
  <div v-if="offers.length">
    <div class="subtitle">Aktuelle Angebote:</div>
    <ul class="offer-list">
      <li
        v-for="(offer, index) in offers"
        :key="index"
        class="offer-item"
        :style="{ backgroundImage: 'url(' + offer.image + ')' }"
      >
        <div class="offer-content">
          <p class="offer-title">{{ offer.title }}</p>
          <p class="offer-price">{{ offer.price }}</p>
        </div>
      </li>
    </ul>
  </div>
  <div v-else>Laden der Angebote...</div>
  <div v-if="error" class="error">{{ error }}</div>
</div>
